.apiPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
  margin: 0 100px;

  .apiHeader {
    h2 {
      font-size: 70px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0;
      margin-bottom: 20px;
      background-color: black;
      width: 700px;

      span {
        color: var(--gold-colour);
      }
    }

    p {
      width: 50%;
    }
  }
  .apiInfo {
    margin-top: 100px;
    width: 90%;

    span {
      color: var(--gold-colour);
    }
  }
}
