.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: white;
}

.homepageHeader {
  margin: 0 100px;

  h1 {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  span {
    color: var(--gold-colour);
  }
}

.homepageInfo {
  width: 50%;
}

.galleryCampaign {
  padding-top: 100px;

  button {
    cursor: pointer;
    background-color: var(--yellow);
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.4);
    border: 2px solid var(--yellow);

    &:hover {
      background-color: white;
    }
  }
}

@media (max-width: 650px) {
  .homepage {
    align-items: center;
    text-align: center;
  }

  .homepageHeader {
    margin: 0 20px;
    h1 {
      font-size: 40px;
    }
  }

  .homepageInfo {
    width: auto;
  }
}
