.nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-bottom: 10px solid var(--gold-colour);
}

.logo img {
  width: 80%;
  margin-left: 20px;
}

.navLinksContainer {
  width: 80%;
}

.navLinks {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: right;
}

.navLinks li {
  padding: 0 20px;
}

.searchIcon {
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 14px 18px;
}
