.nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-bottom: 10px solid var(--gold-colour);
  z-index: 10;
}

.logo img {
  width: 80%;
  margin-left: 20px;
}

.navLinksContainer {
  width: 80%;
}

.navLinks {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: right;
}

.navLinks li {
  cursor: pointer;
  padding: 0 20px;

  &:hover {
    border-bottom: 1px solid black;
  }
}

.searchIcon {
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 14px 18px;
}

/* Nav menu for responsive devices */
.navMenu {
  cursor: pointer;
  display: none;
}

@media (max-width: 900px) {
  .navMenu {
    position: absolute;
    right: 10px;
    display: block;
    border: 2px solid black;
    border-radius: 50%;
    padding: 14px 18px;
  }

  .navLinks {
    display: none;
  }

  .navLinksContainer.open {
    display: flex;
  }

  .navLinksContainer.open .navLinks {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .logo img {
    width: 120%;
  }

  .searchIcon {
    margin-right: 70px;
  }
}
